{{!< default}}

{{#author}}

<header id="main-header"{{#if @blog.cover}} class="has-cover"{{/if}}>
    {{navigation}}
	<div class="site-title">
		<h1 class="site-name">{{name}}</h1>
	</div>
	{{#if @blog.cover}}
		<div class="site-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
				{{#if image}}
					<figure class="post-author-avatar floating-avatar">
						<img src="{{image}}" alt="{{name}}" />
					</figure>
				{{/if}}
</header>

{{/author}}

<div id="post-index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
